<!DOCTYPE html>
<head>
  <title> Mixify</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
  <script src="{{ url_for('static', filename='scripts/webplayerFuncs.js')}}"></script>
  <script src="{{ url_for('static', filename='scripts/tableFuncs.js')}}"></script>
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <script>
  window.onSpotifyWebPlaybackSDKReady = () => {
    const token = "{{ access_token }}";
    const player = new Spotify.Player({
    name: 'Mixify',
    getOAuthToken: cb => { cb(token); },
    volume: 1.0
    });
    handleSpotify(player);
  }
  </script>
</head>
<body>
  <h1 style="font-family: monospace, monaco;">Mixify</h1>
    <div class = "musicPlayer"> 
    <img class = "songArt" id="songArt"> </img>
    <h2 class="songName" id="songName"> Hello</h2>
    <div class="btn-group button">
      <button id="lastSong">Last Song</button>
      <button id="togglePlay">Play/Pause</button>
      <button id="nextSong">Next Song</button>
    </div>
      <div class="slider-container">
        <div id="current-time" class="current-time">0:00</div>
        <input type="range" min="0" max="100" value="0" class="slider-container slider" id="songSeek" onchange="seekTo()">
        <div id="total-duration" class="  total-duration">00:00</div>
      </div>
    </div>
    <div>
      <select id="playlistDropdown" class="dropdown"></select>
      <script>
        const playlists = {{ data|tojson }};
        const playlistDropdown = document.getElementById("playlistDropdown");
        for (var key in playlists) {
          let option = document.createElement("option");
          option.text = key;
          console.log(key);
          playlistDropdown.add(option);
        }
      </script>
      <script>
        document.getElementById("playlistDropdown").addEventListener("change", () => {
        updatePlaylist();
      });
      </script>
    </div>
    <div class="btn-group button">
      <button id="Save"> Save </button>
      <button id="Play Playlist"> Play Playlist </button>
    </div>
    <table id="Playlist" class = "darkTable">
      <tr>
        <td>Row</td>
        <td>Name</td>
        <td>Artist </td>
        <td>URI</td>
        <td>Duration</td>
        <td>Start</td>
        <td>Stop</td>
      </tr>
    </table>
</body>
</html>